body{
    margin:  0;
}
.resorts{
    
    font-weight:bold;
    font-size: 3.5rem;
}
.scotinfo{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: lighter;
    color:rgb(116, 115, 115);
    padding-bottom: 1%;
}



h6{
    background-color: rgb(126, 5, 106);
    margin-left: 153px;
    padding-top: 1.5rem;
    width:38%;
    height: 1rem;
    z-index: -1;
    
}
.nop{
    color: rgb(95, 95, 95);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.top{
margin: 0;
    height:1rem;
    width: 35%;
    margin-top: 5%;
}
.hotel1{
    margin-top: 5%;
    width: 500px;
    height:700px;
position: relative;
   float: right;
   
}
.hotel2{
    width: 290px;
    height:400px;
position:relative;
    float: right;
    left:120px;
    top:13rem
}
.head{
    margin-left: 5%;
    
}
.noh{
    font-weight: 900;
    font-size: 1.7rem;
}
.text{
    margin-left: 5%;
    padding-right: 60%;
}
.fa-arrow-right{
    margin-left:5%;
    color: rgb(126, 5, 106);
}
.img0{
    margin-top: 8%;
    margin-left: 30%;
    height: 400px;
    width:320px;
    float: left;
    position: absolute;
    z-index: 1;
   
}
.img1{
margin-top: 3%;
    margin-left: 3%;
    height:480px;
    width:420px;
    position: absolute;
    z-index: 0;
    opacity: 0.9;

}


.accordion {
    display: flex;
    
    background-color:white;
    
    color: rgb(2, 2, 2);
    cursor: pointer;
    padding: 18px;
    margin-left: 54%;
    width: 40%;
    border: none;
    outline: none;
    transition: 0.8s;
    font-weight: 600;
    padding: 2rem 30px 2rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    margin-left: 50%;
    width: 40%;
    
font-family: 'IBM Plex Sans Thai Looped', sans-serif;
color: rgb(119, 118, 118);
font-size: 14px;
font-weight: 500;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  @media (max-width: 950px)
{
   .img1{
       position: relative;
       margin-left: 10%;
   }
   .img0{
margin-left:50%
   }
   .accordion,.panel{
    margin: 0;
width: 100%;
       
   }
}
@media (min-width:951px) and (max-width:1400px)
{
   .img1{
       
    
      width:350px;
   }
   .img0{
margin-left:20%
   }
   .accordion{
       width:50%;
       margin-left:50%;
   }
}
  .media h5{
      background-color: rgb(126, 5, 106);
      width:100%;
     padding-top: 4%;
     margin-top: 1;
     
  }
  body{
      margin: 0;
  }
  .plus{
      color: rgb(126, 5, 106);
  }
  
  .active, .accordion:hover {
    background-color:rgb(128, 126, 126);
  }
  
  
  
button{
    
    justify-content: space-between;
    
}
@media (max-width: 950px)
{
  .img1,.hotel2{
      
      display: none;
  }
  .img0{
    position:static;
    height: 40rem;
   
    margin-left: 2rem;
  }
  .hotel1{
      width: 100%;
  }
.top{
    width: 100%;
}
h6{
    width: 100%;
    margin-left: 0;

}
.text{
    margin: 0;
    width: 100%;
}}