/* Importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

/* Colors */
:root{
    --mypurple: #573A66;
    --mygreen: #283A2C;
    --myblack: #1C1C1E;
    --white: #ffff;
}

/* Headings */
h1, h2, h3, h4, h5, h6{
    font-family: 'Playfair Display', serif;
}
/* Body */
body{
    font-family: 'Crimson Pro', serif;
}
/* Navbar */
/* .collapse{
    margin-left: 18%;
    margin-top: 2%;
} */

.navbar-brand{
    margin: 0 0 0 8%; 
}
.nav-item{
    
    padding-right:3rem;
    
}
.fa-phone{
    rotate: 180deg;
}
.nav-link{
    color:rgb(247, 247, 252)!important;
    font-weight: 400;
    font-size: 1.25rem;
}
.nav-link {
    display: block;
    position: relative;
    padding: 0.2em 0;
  }
  
  /* Fade in */
  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(252, 249, 251);
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .nav-link:hover::after,
  .nav-link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
  }
.sub{

background-color: rgb(8, 36, 2);
border-color: rgb(8, 36, 2);

border-radius: 10px;
}
.sub a{
    color: white;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 20px;
  }
 .dropdown-menu{
    overflow-y:visible;
    
 } 
 .dropdown .dropdown-item{
    color: white;
 }
.dropdown .dropdown-menu {
    background-color: black;
   
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;

    max-height: 0;
    display: block;
    overflow:auto;
    opacity: 0;
}
.dropdown.show .dropdown-menu { 
    max-height: 300px;
    opacity: 1;
}
@media(max-width :992px){
    .collapse{
        margin-left: 10%;
        margin-top:4%;
        padding-top: 3rem;}
    .nav-item{
            padding-top: 2rem;
        }
        
            .navbar-collapse {
                position: fixed;
                top: 50px;
                left: 0;
                padding-left: 40px;
                padding-right: 5px;
                padding-bottom: 5px;
                width: 80%;
                height: 80%;
                background-color: black;
               
            }
            .sub{
                margin-top: 4%;
                color: #000;
                background-color: white;
            }
        
            .navbar-collapse.collapsing {
                left: -75%;
                transition: height 0s ease;
            }
        
            .navbar-collapse.show {
                left: 0;
                transition: left 300ms ease-in-out;
            }
        
            .navbar-toggler.collapsed ~ .navbar-collapse {
                transition: left 300ms ease-in-out;
            }
        }

/* Title Page */


.landing{
    background: radial-gradient( rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0) ), url("../images/hector-falcon-ZJ9POJfmfL4-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;
    margin: 0;
    }

.tagline{
    text-align: center;
    padding-top: 2%;
    color: #ffff;
    font-weight: 400;
    font-size: 1.25rem;
    margin: 8% 0 2% 0;
}
.main{
    /* font-family: 'Satisfy', cursive; */
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.375rem;
    color: #faf5f8;
    text-align: center;
    padding: 7%;
    padding-top:0%;
    padding-bottom: 15rem;
    max-width: 60vw;
    margin: 0 auto 0;
}
.content {
    min-height: 120vh;
}

@media(max-width :992px){
    .tagline{
        font-size: 1rem;
        padding-bottom: 4rem;
    }
  
    .main{
    font-size:3rem;
    }   
}





/* -------------------------------------------------------------------------- */




/* Why Vibsas */
#why-vibsas-section{
    background-color: var(--mygreen);
    color: var(--white);
    height: auto;
}
.why-vibsas-header{
    text-align: center;
    padding: 80px 0 0;
}
.why-vibsas-small-heading{
    font-size: 1.25rem;
    font-weight: 100;
    letter-spacing: 0.065em;
}  
.why-vibsas-big-heading{
    font-size: 5rem;
}
.why-vibsas-content{
    display: flex;
    flex-direction: column;
    margin: auto;
}
.why-vibsas-images{
    position: relative;
    max-width: 100vw;
    margin: 5vh auto 0;
}
.big-image, .small-image{
    position: relative;
}
.small-image{
    top: 27vh;
    left: 0vw;
    max-width: 30vw;
    transform: rotate(1.5deg);
}
.big-image{
    left: 10vw;
    max-width: 50vw;
}
.why-vibsas-para{
    padding: 10rem 2rem 0;
    font-size: 1.25rem;
    order: 1;
}
p.top-para{
    font-size: 1.5rem;
}
#why-vibsas-section ul{
    list-style: none;
    padding: 0;
    margin: 0 2rem 0;
}
.why-vibsas-list{
    font-size: 1rem;
    order: 2;
    padding: 1rem;
}
.why-vibsas-list-item{
    margin: 0 0 2rem;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}
.list-heading{
    font-size: 1.75rem;
    font-weight: bold;
    padding: 1rem 1rem 1rem 0;
}
.list-image{
    padding: 2rem 1rem 1rem 0;
    width: fit-content;
}


/* For screens more than 1024px */
@media screen and (min-width: 1023px) {
    .why-vibsas-content{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        padding: 0 0 10rem 0;
        margin: 5vh 5vw 0;
    }
    .why-vibsas-list{
        position: relative;
        font-size: 1.5rem;
    }
    .why-vibsas-list-item{
        text-align: center;
        display: block;
        position: relative;
        max-width: 300px;
    }
    .list-image{
        padding: 0;
    }
    .list-heading{
        padding: 1rem;
    }
    .list-item-1{
        top: 25vh;
    }
    .list-item-2{
        top: 30vh;
        left: 9vw;
    }
    .list-item-3{
        top: 18vh;
        left: 28vw;
    }
    .why-vibsas-images{
        margin: 1rem;
    }
    .big-image{
        left: 2vw;
        max-width: 40vw;
    }
    .small-image{
        top: -22vh;
        left: 20vw;
        max-width: 20vw;
    }
    .why-vibsas-para{
        margin: 0 0 0 2vw;
        padding: 15vh 0 0 0;
        order: 0;
        max-width: 30vw;
    }
    .why-vibsas-para p{
        font-size: 1.25rem;
        line-height: 1.5;
        font-weight: 300;
        margin: 0 0 3rem 5rem;
    }
    p.top-para{
        font-size: 1.5rem;
        line-height: 1.5;
    }
}

/* For screens more than 1430px */
@media screen and (min-width: 1430px){
    .big-image{
        left: 5vw;
        top: 2vh;
    }
    .why-vibsas-para p{
        font-size: 1.5rem;
    }
    p.top-para{
        font-size: 2rem;
    }
}

/* For screens more than 1750px */
@media screen and (min-width: 1750px){
    .why-vibsas-content{
        margin: auto;
    }
    .small-image {
        left: 0;
        top: 20vh;
    }
    .list-item-3 {
        top: 15vh;
    }
}
/*--------------------------------------------------------------------------- */



/* Travel Styles */

/*--------------------------------------------------------------------------- */
/* Blogs */

/*--------------------------------------------------------------------------- */
/* Testimonials */


/*--------------------------------------------------------------------------- */
/* Footer */

/*--------------------------------------------------------------------------- */
