body{
    margin:  0;
}
.resorts{
    
    font-weight:bold;
    font-size: 3.5rem;
}
.scotinfo{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-weight: lighter;
    color:rgb(116, 115, 115);
    padding-bottom: 1%;
}

h6{
    background-color: rgb(126, 5, 106);
    margin-left: 153px;
    width:38%;
    height: 1rem;
    z-index: -1;
}
.nop{
    color: rgb(95, 95, 95);
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
.top{
margin: 0;
    height:1rem;
    width: 35%;
    
}
.hotel1{
    margin-top: 5%;
    width: 500px;
    height:700px;
position: relative;
   float: right;
   
}
.hotel2{
    width: 280px;
    height:400px;
position:relative;
    float: right;
    left:130px;
    top:13rem
}
.head{
    margin-left: 5%;
}
.noh{
    font-weight: 900;
    font-size: 1.7rem;
}
.text{
    margin-left: 5%;
    padding-right: 60%;
}
.fa-arrow-right{
    margin-left:5%;
    color: rgb(126, 5, 106);
}