@media (max-width:990px){

  .img1{
    position: relative;
    top:120px;

  }

  .img2{
    position: relative;
    left:600px;
    bottom: 620px;
    opacity: 0.8;
  }

  .column1{
    padding-right:20px ;

  }

}

@media (max-width:766px){

  .img1{
    position: relative;
  top:360px;
  }
  .img2{
  top: -400px;
  left:2px;
  opacity: 1;



  }
}
