*{
list-style: none;

    margin: 0;
    padding: 0rem;
text-decoration:none;
box-sizing: border-box;

    
}


footer{
    
    background-color: black;color: white;

}

.inside{
   margin: 0;
    padding: 6rem;
}
.world{margin-top: 1rem;
margin-left: 1.5rem;}

.countries{margin-top: 1rem;
margin-left: 0.5rem;}

.india{margin-top: 3rem;
margin-left: 1.5rem;}

.states{margin-top: 1rem;
    margin-left: 0.5rem;}

.left{
    display: flex;
}

.left_ka_right{margin-left: 5rem;}

.getsocial{margin-top: 4rem;}

.options{margin-top: 1rem;
margin-left: 0.5rem;}

.socialmedia{margin-top: 1rem;
margin-left: 0.5rem;}

.right{margin-left: 15rem;}

.getintouch{margin-top: 8.5rem;}

.review-us{
    text-decoration: none;
    padding: 1rem;
    border-radius: 25%;
    border: none;
    width:8rem;

}
.review-us a{
    color: black;
    text-decoration: none;
}
.review-us:hover{
    background-color:antiquewhite
}
