*{
list-style: none;

    margin: 0;
    padding: 0rem;
text-decoration:none;
box-sizing: border-box;

    
}
.footerbg{
    background-image: url("./images/flow.jpg");
    padding: 5rem;
    margin: 0;
}

footer{
    margin-top: 4rem;margin-bottom: 4rem;margin-left: 4rem;margin-right: 4rem;
    background-color: black;color: white;

}

.inside{
    margin-left: 3rem;
    padding-top: 3rem;
}
.world{margin-top: 1rem;
margin-left: 1.5rem;}

.countries{margin-top: 1rem;
margin-left: 0.5rem;}

.india{margin-top: 3rem;
margin-left: 1.5rem;}

.states{margin-top: 1rem;
    margin-left: 0.5rem;}

.left{
    display: flex;
}

.left_ka_right{margin-left: 5rem;}

.getsocial{margin-top: 4rem;}

.options{margin-top: 1rem;
margin-left: 0.5rem;}

.socialmedia{margin-top: 1rem;
margin-left: 0.5rem;}

.right{margin-left: 15rem;}

.getintouch{margin-top: 8.5rem;}

