.container1
{
   position: relative;
   left: 10%;
   width: 47%;
}

.Image1
{
    position: relative;
    width: 83%;
    left: 14%;
    

}

.Naga
{
    position: relative;
    top: 5%;
    left: 37%;
    padding-bottom: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.NagaSub
{
    width: 100%;
    bottom: 10%;
    right: 45%;
    color: aliceblue;
}

.overlay1
{
  position: absolute;
  bottom: 0%;
  left: 14%;
  right: 0;
  overflow: hidden;
  width: 83%;
  height: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.container1:hover .overlay1 {
    height: 100%;
}

.container2
{
   position: relative;
   left: 10%;
   width: 47%;
}

.Image2
{
    position: relative;
    width: 83%;
    height: 50%;
    padding-top: 20px;
    left: 14%
}

.Kanya
{
    position: relative;
    top: 5%;
    left: 40%;
    padding-bottom: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.KanyaSub
{
    width: 101.4%;
    bottom: 90%;
    right: 60%;
    color: aliceblue;
    font-size: 15.9px;
}

.overlay2
{
  position: absolute;
  bottom: 0%;
  left: 14%;
  right: 0;
  overflow: hidden;
  width: 83%;
  height: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.container2:hover .overlay2 {
    height: 93.8%;
}

.container3
{
    position:relative;
    left: 59%;
    bottom: 630px;
    width: 23%;
}

.container4
{
    position: relative;
    left: 59%;
    bottom: 625px;
    width: 20%;
    
}

.Image3
{
    position: relative;
    width: 120%;
    left: 0%;
}

.container4:hover .overlay3 {
    height: 100%;
}
.overlay3
{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0;
    overflow: hidden;
    width: 120%;
    height: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
}

.Vellore
{
    position: relative;
    color: aliceblue;
    font-size: 20px;
    left: 35%;
}

.VelloreSub
{
    color: aliceblue;
    font-size: 15px;
}

.container5
{
    position: relative;
    left: 59%;
    bottom: 597px;
    width: 20%;
    
}

.Image4
{
    position: relative;
    width: 120%;
}

.container5:hover .overlay4 {
    height: 100%;
}
.overlay4
{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0;
    overflow: hidden;
    width: 120%;
    height: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
}

.Marina
{
    position: relative;
    color: aliceblue;
    font-size: 20px;
    left: 21%;
}

.MarinaSub
{
    color: aliceblue;
    font-size: 15px;
}

.container6
{
   position: relative;
   left: 11.45%;
   width: 36.5%;
   bottom: 580px;
}

.Image5
{
    position: relative;
    width: 83%;
    height: 50%;
    padding-top: 20px;
    left: 14%
}

.Mudu
{
    position: relative;
    bottom: 0%;
    left: 34%;
    padding-bottom: 20px;
    font-size: 30px;
    color: rgb(255, 255, 255);
}



.MuduSub
{
    width: 100%;
    bottom: 20%;
    right: 40%;
    color: aliceblue;
}

.overlay5
{
  position: absolute;
  bottom: 0%;
  left: 14%;
  right: 0;
  overflow: hidden;
  width: 83%;
  height: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.container6:hover .overlay5 {
    height: 92%;
}
.container7
{
    position: relative;        
    left: 50.7%;
    width: 30.3%;
    bottom: 814px;
}

.Image6
{
    position: relative;
    width: 106.7%;
}
    
.container7:hover .overlay6 {
    height: 100%;
}

.overlay6
{
    position: absolute;
    bottom: 0%;
    left: 0%;
    right: 0;
    overflow: hidden;
    width: 106.8%;
    height: 0;
    transition: .5s ease;
    background: rgba(0, 0, 0, 0.5);
}
    
.Pondi

{
    position: relative;
    color: aliceblue;
    font-size: 20px;
    left: 33%;
    font-size: 30px;
}
    
.PondiSub
{
    color: aliceblue;
    font-size: 16px;
}

.background{
    background-color: aqua;
    height: 55rem;
    background-image: url('../Kerala/images/kerala.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 50%;
    margin: 0;
    

}

.explore{

    margin-top: 15rem;
}